<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="car_id"/>
    <arg name="init_x"/>
    <arg name="init_y"/>
    <arg name="init_yaw"/>

    <include file="$(find laser_simulator)/launch/laser_sim.launch">
        <arg name="car_id" value="$(arg car_id)"/>
        <arg name="odom_topic" value="/car_$(arg car_id)/odometry" />
    </include>

        
    <include file="$(find kinematics_simulator)/launch/run_simulator.launch">
        <arg name="car_id" value="$(arg car_id)" />
        <arg name="odom_topic" value="/car_$(arg car_id)/odometry" />
        <arg name="traj_topic" value="/car_$(arg car_id)/trajectory" />
        <arg name="mesh_topic" value="/car_$(arg car_id)/mesh" />

        <arg name="init_x" value="$(arg init_x)"/>
        <arg name="init_y" value="$(arg init_y)"/>
        <arg name="init_yaw" value="$(arg init_yaw)"/>

    </include>

</launch>
